/* .container {
  display: flex;
  flex-flow: row wrap;
  
} */

.card {
  padding: 5px;
  border: 2px black solid;
  outline: solid 6px yellow;
  background-image: linear-gradient(to right, rgb(182, 123, 228), yellow);
}

body {
  background-image: linear-gradient(
    to right,
    rgb(223, 154, 27),
    rgb(138, 205, 231)
  );
}

.box {
  border: black 2px solid;
  display: flex;

  justify-content: center;
}

.form-control {
  background-image: linear-gradient(blue, pink);
  border: 2px solid darkblue;
  color: aliceblue;
  /* display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  /* align-content: center;
  width: 50px; */
}
.buttonbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 100px;
  padding: 20px;
}

.btn-primary {
  border: 1px solid black;
  outline: solid 2px yellow;
  color: rgb(208, 211, 10);
  background-image: linear-gradient(
    rgb(136, 27, 136),
    rgb(238, 96, 238),
    rgb(236, 198, 236)
  );
  gap: 20px;
  border-radius: 50%;
  padding: 20px;
}

#sub {
  background-image: linear-gradient(red, green, yellow);
  border-radius: 25%;
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  flex-basis: content;
}

#app {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.card-img-top {
  outline: 4px solid gainsboro;
  border: 1px black solid;

  /* border-radius: 50%; */
}

.mb-3 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.btn-danger {
  border: 1px solid black;
}
.card-text {
}
