body {
  background: linear-gradient(
    rgb(230, 240, 230),
    rgb(236, 211, 215),
    rgb(224, 224, 185),
    rgb(154, 170, 154),
    rgb(219, 199, 202),
    rgb(145, 165, 145),
    rgb(209, 238, 209),
    rgb(247, 222, 226),
    rgb(214, 214, 185),
    rgb(144, 158, 144),
    rgb(205, 205, 243)
  );
  background-position: no-repeat;
}
#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  width: auto;
  gap: 40px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  width: 0px;
  height: 0px;
  height: 0px;
  margin: 0;
  background-color: rgb(169, 182, 238);
}

header {
  text-align: center;
  margin-top: 80px;
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  margin-bottom: 30px;
  width: 25%;
  height: 60vh;
  text-align: center;
  margin: 0px;
  font-family: "Jersey 15", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  margin: 0;
  color: white;
  opacity: 0.8;
  -webkit-text-stroke: 0.5px rgb(73, 73, 187);
}

.card:hover {
  background: linear-gradient(
    rgb(197, 223, 223),
    rgb(247, 214, 187),
    rgb(219, 221, 221),
    rgb(243, 196, 94)
  );
  opacity: 0.9;
  cursor: pointer;
}

.card-body {
  height: 15vh;
  line-height: 1rem;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding: 0;
}

img {
  height: 40vh;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(22, 106, 201, 0.23);
  color: black;
  position: fixed;
  margin-top: 0px;
  width: 100%;
  z-index: 2;
  list-style-type: none;
}

li {
  margin-left: 10px;
  font-family: "Jersey 15", serif;
  font-weight: 200;
  font-size: 30px;
  color: rgb(238, 117, 4);
  /* -webkit-text-stroke: .5px rgb(241, 140, 45); */
}

a:hover {
  color: rgb(227, 233, 233);
  cursor: pointer;
}

a:active {
  color: rgb(237, 238, 175);
}

a {
  margin-left: 10px;
  .jersey-15-regular {
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
  }
  color: rgb(243, 193, 117);
}

form {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  /* border: rgba(59, 59, 59, 0.527) 1px solid; */
  color: white;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
}

br {
  height: 5px;
  margin-top: 2px;
}

#nameOf {
  text-decoration: underline;
}

input {
  width: 20px;
}

.cats {
  color: rgb(163, 162, 163);
  font-weight: 550;
  -webkit-text-stroke: rgb(80, 3, 80);
}

.dogs {
  color: rgba(87, 9, 110, 0.5);
}

.others {
  color: rgba(25, 55, 189, 0.774);
}

.offcanvas {
  background-color: rgba(22, 106, 201, 0.23);
  /* opacity: 0.9; */
  border: none;
  text-decoration: underline;
  text-decoration-color: white;
}

#aboutNav {
  margin-left: 7%;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

#aboutUl {
  background-color: rgba(22, 106, 201, 0.01);
  border: none;
  color: white;
}

/* .deleteBtn {
 /* display: inline-block;
  padding: 10px;
  position: relative;
  overflow: hidden;
  z-index: 3;
  margin-top: 0px; */
/* float: right;
  margin-right: 10px;
  background-color: rgba(22, 106, 201, 0.23); */

.delteB {
  float: right;
  margin-right: 10px;
  background-color: rgba(22, 106, 201, 0.23);
}

.delteB:hover {
  background-color: rgba(228, 100, 100, 0.849);
}

.delteB:active {
  background-color: red;
}
